<ion-view title="Account" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="list" style="margin: -10px -10px 0 -10px;">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Suhr">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="john@suhr.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone</span>
                    <input type="text" placeholder="+380 (97) 123 12 12">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Language
                    </div>
                    <select>
                        <option selected="">English</option>
                        <option>Русский</option>
                    </select>
                </label>
            </div>
        </div>
        <button id="account-button2" class="button button-balanced  button-block">Save</button>
    </ion-content>
</ion-view>