<ion-view title="Account" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="list" style="margin: -10px -10px 0 -10px;">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"accName" | translate}}</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"accSurname" | translate}}</span>
                    <input type="text" placeholder="Suhr">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"email" | translate}}</span>
                    <input type="text" placeholder="john@suhr.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"phone" | translate}}</span>
                    <input type="text" placeholder="+380 (97) 123 12 12">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{"lang" | translate}}
                    </div>
                    <select ng-model="lang">
                        <option value="en">English</option>
                        <option selected value="ru">Русский</option>
                    </select>
                </label>


            </div>
        </div>
        <button id="account-button2" ng-click="changeLanguage(lang)" class="button button-balanced  button-block">{{"btnSave" | translate}}</button>
    </ion-content>
</ion-view>