<ion-view title="Stream" id="page2" >
    <ion-nav-buttons side="secondary">
        <button class="button" ui-sref="tabsController.newPost">
            Add
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-avatar">
                <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                <h2>Artem Davidchenko</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                Are u ready?
            </div>
            <div>
                <a class="item item-avatar" href="#">
                    <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                    <h2>Taras</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                    <h2>Arman</h2>
                    <p>Im fatass</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                    <h2>Anton</h2>
                    <p>Ready to go</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                    <h2>Yulia</h2>
                    <p>Im done</p>
                </a>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div class="list">
            <div class="item item-avatar">
                <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                <h2>Artem Davidchenko</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                Are u ready?
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Answer</span>
                <input type="text" placeholder="Write your answer">
            </label>
            <button style="margin-top: 0" class="button icon-left button-full button-balanced">Reply</button>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div class="list">
            <div class="item item-avatar">
                <img src="http://dummyimage.com/100x100/d6d6d6/0006b0.png&amp;text=Trainer+photo">
                <h2>Artem Davidchenko</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <p>
                    This is a Post type example.<br/>The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>