@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    background: #ccc;
    color: #7f7f7f;
}

.app {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #fff;
    height: 10%;
    min-height: 60px;
}

main {
    width: 100%;
    min-height: 400px;
    height: 80%;
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


footer {
    background: #fff;
    height: 10%;
    min-height: 60px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(97, 115, 244);
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    color: #fff;
    width: 80%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

h2 {
    margin: 0;
    font-size: 2em;
}

input {
    text-align: center;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    outline: none;
    font-size: 22px;
    transition: border .1s ease-in-out;
    color: #7f7f7f;
}

input:focus {
    border: 1px solid #7f7f7f;
}

button {
    background: #6173f4;
    width: 40%;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    transition: all .1s ease-in;
    font-size: 1.2em;
    color: #fff;
}

button:active {
    background: none;
    border: 2px solid #fff;
}

.pushcode {
    height: auto;
    min-height: 70px;
    width: 80%;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.pushcode p {
    margin: 0;
}

.pushcode .code {
    font-size: 1em;
    color: #000;
    word-wrap: break-word;
    padding: 0 3%;
}

footer p {
    margin: 10px 0;
}